@using Orbit.Application.Dtos.Responses

@model UserReponse

<p>
    Bem vindo @Model.UserName
</p>
<main>
      <article class="Perfil-detail">
        <div id="image-back"><img src="" alt="" /></div>

        <section>
          <div id="image-perfil"><img src="" alt="" /></div>
          <div class="Button-Edit"><h1>Editar Perfil</h1></div>
          <h1 class="name-perfil">s</h1>
          <h3 class="arroba-perfil">s</h3>
          <p class="text-perfil-resume">s</p>
          <div class="div-follows">
            <h4 class="follow">seguindo</h4>
            <h4 class="followers">seguidores</h4>
          </div>
         
        </section>
      </article>

      <article class="perfil-publications">
        <section class="click-functions">
          <h1>Publications</h1>
          <h1>Midias</h1>
          <h1>Curtidas</h1>
        </section>

        <div><!-- as publicaçoes aqui --></div>
      </article>
    </main>

@section links {
    <link rel="stylesheet" href="~/css/Dasboard.css" asp-append-version="true">
}

@section scripts {
    <script src="" asp-append-version="true"></script>
}
