@using Orbit.Application.Dtos.Responses

@model UserReponse

<p>
    Bem vindo @Model.UserName
</p>

@section links {
    <link rel="stylesheet" href="~/css/Dasboard.css" asp-append-version="true">
}

@section scripts {
    <script src="" asp-append-version="true"></script>
}
