@model IEnumerable<User>

<h2>Seguidores</h2>

@foreach (var followed in Model)
{
    <div>
        <h3>@followed.UserName</h3>
        <p>@followed.UserEmail</p>
        etc...

        @*para cada seguidor que o usuario tem isso daqui vai repetir essa div*@
    </div>
}
