*{
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    padding:0;
    margin:0;
    color:black;
}


body {
    background-color:white;
    height:100vh;
    width:100%;
}

.content-top{
    padding:20px;
    width:100%;
    background-color:black;
}

.content-top .title{
    color:white;
    font-size:2.5em;
    letter-spacing:2px;
    font-weight:bold;
    margin-left:25%;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    flex-flow:column wrap;
    min-height:40vh !important;
}

.container img{
    margin:5% auto;
}
.container .text-error{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column wrap;
}

.container .text-error .message-error {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

.container .text-error a{
    margin-top:5%;
    width:auto;
    padding:20px;
    border:1px solid black;
    border-radius:10px;
    color:black;
    letter-spacing:2px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    transition:.3s ease-out;
}
.container .text-error a:hover{
    background-color:black;
    color:white;
}