@model IEnumerable<User>

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}

<header>
    <h2>Seguidores</h2>
</header>

<main class="container">
    <div class="container-followers">
        @foreach (var follower in Model)
        {
            <div class="users-containers">
                <a href="../user/@follower.UserName"><h3>@follower.UserName</h3></a>
                <a href="../user/@follower.UserName">@follower.UserEmail</a>
            </div>
        }
    </div>
</main>

@section links {
    <link rel="stylesheet" href="~/css/Followers.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
}
