<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title> @*Pegando propriedade Title dinamica da ViewBag e colocando como titulo da página*@
</head>
<body>
    @*Renderiza o corpo da view com esse layout*@
    @RenderBody()
</body>
</html>