<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title> @*Pegando propriedade Title dinamica da ViewBag e colocando como titulo da página*@
</head>
<body>
    @*Renderiza o corpo da view com esse layout*@
    @RenderBody()
</body>
</html>