<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @await RenderSectionAsync("links", required: false)
</head>

<body>
    <div>
        @RenderBody()
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js"
        asp-fallback-src="~/libs/signalR/signalr.js" asp-fallback-test="signalR"></script>
    @await RenderSectionAsync("scripts", required: false)
    <script>
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/notification")
                .build();

            connection.on("ReceiveNotification", (_, notification) => {
                $(`<div>`)
                    .append(notification)
                    .css({
                        position: 'fixed',
                        top: '10px',
                        right: '10px',
                        backgroundColor: '#f8f9fa',
                        border: '1px solid #ccc',
                        padding: '10px',
                        borderRadius: '5px',
                        zIndex: 1000
                    })
                    .appendTo("body")
                    .fadeIn(400)
                    .delay(5000)
                    .fadeOut(400, function () {
                    });
            });
            connection.start().catch(err => console.error(err.toString()));
    </script>
    @{
        byte[]? isFirstTime;
    }

    @if (Context.Session.TryGetValue("is-first-time", out isFirstTime) && isFirstTime != null && isFirstTime.Any() && System.Text.Encoding.Default.GetString(isFirstTime) == bool.TrueString)
    {
        <script>
            $(`<div>`)
                .append('Bem vindo ao Orbit. Tente configurar suas preferencias na sessão editar perfil no perfil do usuário!')
                .css({
                    position: 'fixed',
                    top: '10px',
                    right: '10px',
                    backgroundColor: '#f8f9fa',
                    border: '1px solid #ccc',
                    padding: '10px',
                    borderRadius: '5px',
                    color: 'black',
                    zIndex: 1000
                })
                .appendTo("body")
                .fadeIn(400)
                .delay(10000)
                .fadeOut(400, function () {
                });
        </script>
    }
</body>

</html>
