@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}

<div id="particles-js"></div>
<main class="main-account">
    <header>
        <h2 class="title">OrbIt</h2>
    </header>
    <section class="container">
        <div class="text-exibition">
            <p>Acompanhe tudo no mundo da tecnologia conosco.</p>
        </div>
    </section>
    <footer>
        <div class="div-buttons">
            <button class="btn" id="openLogin">Entrar</button>
            <button class="btn" id="openSignIn">Cadastrar</button>
        </div>
    </footer>

    <div class="modal-background hidden" id="modalBackground">
        <div class="content">

            <div class="div-signIn" id="divSignIn">
                <form method="post" asp-action="CreateUser" asp-controller="Account" class="form-name forms" id="reg-form">
                    <div class="first-step">
                        <div class="top-header">
                            <button class="form-btn" id="closeBtn">
                                <img src="~/images/xmark-solid.svg" class="icons" />
                            </button>
                            <h2 class="form-title">OrbIt</h2>
                        </div>
                        <h3 class="sub-title">Crie sua conta</h3>

                        <div class="name-container">
                            <label for="name">Nome</label>
                            <input type="text" required name="UserName" id="name" class="inputs" />
                        </div>
                        <div class="email-container">
                            <label for="email">Email</label>
                            <input type="email" required name="UserEmail" id="email" class="inputs" />
                        </div>
                        <div class="birthday-container">
                            <label class="Birthday" for="birthday">Data de Nascimento</label>
                            <div class="input-values">
                                <div>
                                    <input type="text" name="Day" id="DayBirthday" placeholder="Dia"
                                           class="birthday-inputs" />
                                </div>
                                <div>
                                    <input type="text" name="Month" id="MonthBirthday" placeholder="Mês"
                                           class="birthday-inputs" />
                                </div>
                                <div>
                                    <input type="text" name="Year" id="YearBirthday" placeholder="Ano"
                                           class="birthday-inputs" />
                                </div>
                            </div>
                        </div>
                        <div class="next-container">
                            <button class="next-btn" id="nextBtn">Avançar</button>
                        </div>

                    </div>

                    <div class="last-step">
                        <div class="top-header">
                            <button class="form-btn" id="backBtn">
                                <img src="~/images/arrow-left-solid.svg" class="icons" />
                            </button>
                            <h2 class="form-title">Orbit</h2>
                        </div>


                        <h3 class="sub-title">Crie sua conta</h3>

                        <div class="password-container">
                            <label for="password">Senha</label>
                            <input type="password" required name="UserPassword" id="password" class="inputs" />
                        </div>
                        <div class="password-container">
                            <label class="pass" for="repeatpassword">Repita sua senha</label>
                            <input type="password" required name="repeatpassword" id="repeatpassword" class="inputs" />
                        </div>
                        <div class="terms-and-conditions">
                            <input type="checkbox" required />
                            <label class="termos">
                                Concorda com os nossos termos de políticas e serviços! <a href="#">
                                    Termos de política
                                    e serviços
                                </a>
                            </label>
                        </div>
                        <div class="next-container">
                            <button class="next-btn" id="signInButton">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="div-login" id="divLogin">
                <div class="top-header">
                    <button class="form-btn" id="closeBtnLogin">
                        <img src="~/images/xmark-solid.svg" class="icons" />
                    </button>
                    <h2 class="form-title">OrbIt</h2>
                </div>

                <form method="post" class="forms" asp-action="Login" asp-controller="Account" id="log-form">
                    <h3 class="sub-title">Faça o login</h3>
                    <div class="name-container">
                        <label for="email-login">Email</label>
                        <input type="email" required name="email" id="email-login" class="inputs" />
                    </div>
                    <div class="Password-container">
                        <label for="Password-Login">Senha</label>
                        <input type="Password" required name="password" id="Password-Login" class="inputs" />
                    </div>

                    <div class="next-container">
                        <button class="next-btn" id="LoginButton">Logar</button>
                    </div>
                </form>
            </div>
        </div>

        

    </div>

</main>


@section links {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
     <style>
         .error{
             color: red;
             font-size: 12px;
             width: 90%;
         }
     </style>
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
            asp-fallback-src="~/libs/particle/js/particles.min.js" asp-fallback-test="window.particleJS"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"
            asp-fallback-src="~/libs/jQuery/js/additional-methods.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/js/particle.js" asp-append-version="true"></script>
    <script asp-append-version="true" src="~/js/behavior.js"></script>
    <script asp-append-version="true" src="~/js/validate.js"></script>
}
