<header>
    <h2 class="title">OrbIt</h2>
</header>
<main class="container">
    <div class="text-exibition">
        <p>Acompanhe tudo no mundo da tecnologia conosco.</p>
    </div>
</main>
<footer>
    <div class="div-buttons">
        <button class="btn" id="openLogin">Entrar</button>
        <button class="btn" id="openSignIn">Cadastrar</button>
    </div>
</footer>

<div class="modal-background hidden" id="modalBackground">
    <div class="content">
        <div class="div-signIn" id="divSignIn">
            <div class="top-header">
                <h2 class="title"></h2>
            </div>

            <form>
                <h3 class="sub-title">Crie sua conta</h3>

                <div class="name-container">
                    <label for="name">Nome</label>
                    <input type="text" required name="name" id="name" class="inputs" />
                </div>
                <div class="email-container">
                    <label for="email">Email</label>
                    <input type="email" required name="email" id="email" class="inputs" />
                </div>
                <div class="birthday-container">
                    <label for="birthday"></label>
                    <input type="date" name="birthday" id="birthday" class="inputs" />
                </div>
            </form>
        </div>
        <div class="div-login" id="divLogin"></div>
    </div>
</div>



@section links{
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
}

@section scripts {
    <script src="~/js/script.js"></script>
}
