<div id="particles-js"></div>
<main class="main-account">
    <header>
        <h2 class="title">OrbIt</h2>
    </header>
    <section class="container">
        <div class="text-exibition">
            <p>Acompanhe tudo no mundo da tecnologia conosco.</p>
        </div>
    </section>
    <footer>
        <div class="div-buttons">
            <button class="btn" id="openLogin">Entrar</button>
            <button class="btn" id="openSignIn">Cadastrar</button>
        </div>
    </footer>

    <div class="modal-background hidden" id="modalBackground">
        <div class="content">

            <div class="div-signIn" id="divSignIn">
                <div class="first-step">
                    <div class="top-header">
                        <button class="form-btn" id="closeBtn">
                            <img src="~/images/xmark-solid.svg" class="icons" />
                        </button>
                        <h2 class="form-title">OrbIt</h2>
                    </div>

                    <form class="form-name">
                        <h3 class="sub-title">Crie sua conta</h3>

                        <div class="name-container">
                            <label for="name">Nome</label>
                            <input type="text" required name="name" id="name" class="inputs" />
                        </div>
                        <div class="email-container">
                            <label for="email">Email</label>
                            <input type="email" required name="email" id="email" class="inputs" />
                        </div>
                        <div class="birthday-container">
                            <label for="birthday">Data de Nascimento</label>
                            <input type="text" name="DayBirthday" id="DayBirthday" placeholder="Dia"
                                class="birthday-inputs" />
                            <input type="text" name="MonthBirthday" id="MonthBirthday" placeholder="Mês"
                                class="birthday-inputs" />
                            <input type="text" name="YearBirthday" id="YearBirthday" placeholder="Ano"
                                class="birthday-inputs" />
                        </div>
                        <div class="next-container">
                            <button class="next-btn" id="nextBtn">Avançar</button>
                        </div>
                    </form>
                </div>

                <div class="last-step">
                    <div class="top-header">
                        <button class="form-btn" id="backBtn">
                            <img src="~/images/arrow-left-solid.svg" class="icons" />
                        </button>
                        <h2 class="form-title">OrbIt</h2>
                    </div>

                    <form class="form-password">
                        <h3 class="sub-title">Crie sua conta</h3>

                        <div class="password-container">
                            <label for="password">Senha</label>
                            <input type="password" required name="password" id="password" class="inputs" />
                        </div>
                        <div class="password-container">
                            <label for="repeatpassword">Repita sua senha</label>
                            <input type="password" required name="repeatpassword" id="repeatpassword" class="inputs" />
                        </div>
                        <div class="terms-and-conditions">
                            <input type="checkbox" required />
                            <label>Concorda com os nossos termos de políticas e serviços! <a href="#">Termos de política
                                    e serviços</a></label>
                        </div>
                        <div class="next-container">
                            <button class="next-btn" id="signInButton">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="div-login" id="divLogin">
                <div class="top-header">
                    <button class="form-btn" id="closeBtn">
                        <img src="~/images/xmark-solid.svg" class="icons" />
                    </button>
                    <h2 class="form-title">OrbIt</h2>
                </div>


                <div class="name-container">
                    <label for="name-Login">Nome</label>
                    <input type="text" required name="name-Login" id="name-Login" class="inputs" />
                </div>
                <div class="Password-container">
                    <label for="Password-Login">Email</label>
                    <input type="Password" required name="Password-Login" id="Password-Login" class="inputs" />
                </div>

            </div>

        </div>

    </div>

</main>


@section links {
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
}

@section scripts {
    <script src="~/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/particle.js"></script>
}
